.container {
    width: 40%;
}

.form-container {
    background-color: #f6f6f6;
    border: 1px solid #b1b1b1;
    border-radius: 10px;
    height: 70px;
}

.form-label {
    font-weight: bold;
    color: #b1b1b1;
}

.form-input {
    padding: 10px;
    border-radius: 5px;
}
